@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stock WebScraper</h1>
    <p class="lead">Get Up-to-date information about your stocks!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Getting Started", "Index", "https://finance.yahoo.com/")</h2>
        <p>
            Check out Yahoo! Finance and build your personal portfolio of the stocks you want to track.
        </p>
        <p><a class="btn btn-default" href="https://finance.yahoo.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Feel Secure", "Index", "Account/Register")</h2>
        <p>All users access personal financial portfolios through our secure membership area.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("About", "Index", "Home/About")</h2>
        <p>Learn about this application's technologies and the process through which it was created.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>